server:
  port: 8080
  servlet:
    context-path: /r2dbc
  shutdown: graceful
spring:
  application:
    name: r2dbc-demo
  codec:
    max-in-memory-size: 50MB
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://111:5432/jingle?prepareThreshold=0
    username: 111
    password: 111
    hikari:
      minimumIdle: 5
      maximumPoolSize: 40
      idleTimeout: 30000
      maxLifetime: 2000000
      connectionTimeout: 30000

logging:
  pattern:
    console: "%boldMagenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) | %highlight(%-5level) | %boldYellow(%-18t) | %boldGreen(%50.50logger{49}):%boldGreen(%-4.4line) | %msg%n"
